.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  position: relative;;
  bottom: 0;
  width: 100%;
  padding-top: 19px;
  color: #555;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.panel{
    background-color: rgb(98, 96, 96);
    color: white;
    padding: 1px 1px;
}
.panel-body{
  padding:1px 1px;
  padding-left: 1px;
}

.current{
  background-color: rgb(158, 158, 158);

  padding: 1px 1px;
  height: 300px;
}
/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}
/* Space out the masthead */
.header {
  margin-bottom: 30px;
}
